

<!-- FOOTER -->
<footer class="bg-marine">
    <div class="container footer-container">

        
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <p class="text-white footer-title">Liens rapides</p>
                <p class="text-white"><a href="{{ path('home') }}">Accueil</a></p>
                <p class="text-white"><a href="{{ path('portfolio_index') }}">Portfolio</a></p>
                <p class="text-white"><a href="{{ path('services_webdesign') }}">Service - Web Design</a></p>
                <p class="text-white"><a href="{{ path('services_developpementweb') }}">Service - Développement Web</a></p>
                <p class="text-white"><a href="{{ path('services_graphisme') }}">Service - Graphisme</a></p>
                <p class="text-white"><a href="{{ path('about') }}">A propos</a></p>
                <p class="text-white"><a href="{{ path('contact') }}">Contact</a></p>
            </div>
            <div class="col-sm-6  col-md-6 col-lg-3">
                <p class="text-white footer-title">Me suivre</p>
                <p class="text-white"><a href="https://github.com/AleksanderBuczekPro" target="_blank"><i class="fab fa-linkedin-in"></i>LinkedIn</a></p>
                <p class="text-white"><a href="https://www.linkedin.com/in/aleksander-buczek-505a9912a/?originalSubdomain=fr"><i class="fab fa-github"></i>Github</a></p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <p class="text-white footer-title">Contact</p>
                <p class="text-white"><a href="mailto:aleksander.buczek.pro@gmail.com"><i class="fas fa-envelope"></i>aleksander.buczek.pro@gmail.com</a></p>
                <p class="text-white"><a href="tel:+33667033707"><i class="fas fa-phone"></i>06 67 03 37 07</a></p>
                <p class="text-white"><a href="https://www.google.com/maps/place/21200+Beaune/@46.9037987,0.1640693,6.49z/data=!4m5!3m4!1s0x47f2f344cd583ffb:0xba8cf496643eff53!8m2!3d47.02603!4d4.840004" target="_blank"><i class="fas fa-map-marker-alt"></i>Beaune</a></p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2">
                <img class="logo-footer" src="{{ asset('assets/images/logo_light.svg') }}" alt="Logo Home">
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <p class="mb-0 text-white py-2 signature">Portfolio de Aleksander Buczek, graphiste à Beaune - 2021</p>
        </div>
    </div>

</footer>

{% block javascripts %}
    <script>
        $(function() {
            AOS.init({
                disable: 'mobile'
            });  
        });
        
        // Gestion de la navbar Mobile (couleur)
        $( ".navbar-toggler" ).on( "click", function() {


            if(!$('#my-nav').hasClass('toggled')){

                $('#my-nav').addClass('toggled');

            }else{

                $('#my-nav').removeClass('toggled');
            }
        });
       
    </script>

{% endblock %}