{% extends 'base.html.twig' %}

{% block meta_description %}
  <meta name="description" content="Portfolio de Aleksander Buczek, développeur web et graphiste indépendant à Beaune et alentours. Design et développement web de sites internet, et élaboration de logos, affiches et flyers.">
{% endblock %}

{% block title %}Portfolio - {% endblock %}

{% block body %}

    <div class="container projects-container">
        <div class="row">
            {% for project in projects %}

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4">

                    <a href="{{ path('portfolio_show', { slug: project.slug }) }}">
                        <div class="work-card" style="background-image: url({{ asset('assets/uploads/' ~ project.frontImage) }});">
                            <div class="overlay-image" style="background-color: {{ project.color ~ 'EF'}}">
                                <p class="work-title mx-auto">{{ project.name }}</p>

                                <div class="text-center badges">
                                    {% set trans_month_hash = { 
                                        "1": "Janvier", 
                                        "2": "Février", 
                                        "3": "Mars", 
                                        "4": "Avril", 
                                        "5": "Mai", 
                                        "6": "Juin", 
                                        "7": "Juillet",
                                        "8": "Août",
                                        "9": "Septembre", 
                                        "10": "Octobre",
                                        "11": "Novembre", 
                                        "12": "Décembre"
                                        } 
                                    %}
                                    <span class="my-badge">
                                        <i style="font-size: 0.5rem; position: relative; bottom: 2px;" class="fas fa-xs fa-circle"></i> {{ project.category }}
                                    </span>
                                    <!-- <span class="my-badge">
                                        <i class="far fa-calendar-alt"></i> {{ trans_month_hash[project.date|date('n')] ~ ' ' ~ project.date|date('Y')}}
                                    </span> -->
                                </div>
                            </div>
                            
                        </div>
                    </a>

                </div>

            {% endfor %}
            


        </div>

    </div>

    {# <div class="bg-light">
        <div class="container portfolio-contact-container text-center">
            <p class="">Alors, on travaille ensemble ?</p>
            <a href="" class="">Contactez-moi</a>
        </div>
    </div> #}

    <!-- CONTACT -->
    <div class="container-fluid bg-light">
        <div class="container contact-container">
            <div class="row">
                <div class="col-lg-7">
                <h2 class="text-dark">Alors, <br>cela vous plaît ?</h2>
                <a href="{{ path('contact') }}" class="btn btn-primary">Travaillons ensemble</a>
        
                </div>
                <div class="col-lg-5">
                <img src="{{ asset('assets/images/workspace.svg') }}" alt="Workspace Image">
        
                </div>
        
            </div>
        </div>
  
      </div>


{% endblock %}
