{% extends 'base.html.twig' %}

{% block title %}{{ project.name }} - {% endblock %}

{% block body %}

    <input id="theme" type="hidden" value="{{ project.color }}">
    <div class="container-fluid header-portfolio-container" style="background-color: {{ project.color }}">
        <div class="row">
            <div class="col-12">
                <div class="header container">
                    <h1 class="project-title text-center">{{ project.name }}</h1>
                    <p class="project-introduction text-center">{{ project.introduction }}</p>


                    <div class="row text-center project-infos-container justify-content-center">


                    {% set trans_month_hash = { 
                            "1": "Janvier", 
                            "2": "Février", 
                            "3": "Mars", 
                            "4": "Avril", 
                            "5": "Mai", 
                            "6": "Juin", 
                            "7": "Juillet",
                            "8": "Août",
                            "9": "Septembre", 
                            "10": "Octobre",
                            "11": "Novembre", 
                            "12": "Décembre"
                        } 
                    %}


                        <div class="col-md-4 col-lg-3 col-xl-3 column">
                            <hr>
                            <p class="title">Date</p>
                            <p class="content white">{{ trans_month_hash[project.date|date('n')] ~ ' ' ~ project.date|date('Y')}}</p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 column">
                            <hr>
                            <p class="title">Client</p>
                            <p class="content white">{{ project.client }}</p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 column">
                            <hr>
                            <p class="title">Catégorie</p>
                            <p class="content white">{{ project.category }}</p>
                        </div>

                    </div>

                </div>
                

            </div>
        </div>
    </div>
    <div class="container-fluid portfolio-container">
        
        <div class="row">
            <div class="col">
                <div class="front-image-container" style="background-image: url({{ asset('assets/uploads/' ~ project.frontImage) }});"></div>
                {# <img class="front-image" src="{{ asset('assets/uploads/' ~ project.frontImage) }}" class="project-visual" alt="Image"> #}

            </div>
        </div>


        <div class="row">
            <div class="col info-container text-center">
                
                <h2 class="project-subtitle mb-4">{{ project.subtitle }}</h2>

                <p class="project-description">{{ project.description }}</p>

                {# <p class="project-date">{{ project.date|date("d/m/Y") }}</p> #}

            </div>
        </div>
        <div class="row">
            
            <div class="col">

                {% for visual in project.visuals %}

                <img src="{{ asset('assets/uploads/' ~ visual.imageName) }}" class="project-visual m-0" alt="Image">
        

                {% endfor %}
                
            </div>
        </div>
        <div class="container-fluid bg-marine-dark">
            <div class="container portfolio-navigation-container">
                <div class="row">
                    <div class="col-4 text-center"><a href="{% if next %} {{ path('portfolio_show', { slug: next.slug }) }} {% endif %}" class="previous {% if next is null %} full-transparent {% endif %}"><i class="fas fa-chevron-left"></i> <span class="d-none d-md-inline">Projet Précédent</span></a></div>
                    <div class="col-4 text-center"><a href="{{ path('portfolio_index') }}"><i class="fas fa-2x fa-th"></i></a></div>
                    <div class="col-4 text-center"><a href="{% if previous %}  {{ path('portfolio_show', { slug: previous.slug }) }} {% endif %}" class="next {% if previous is null %} full-transparent {% endif %}"><span class="d-none d-md-inline">Projet Suivant</span> <i class="fas fa-chevron-right"></i></a></div>
                </div>
            </div>
        </div>

        </div>

    </div>


{% endblock %}

{% block javascripts %}

<script>
// add-visual-widget.js

jQuery(document).ready(function () {

    var color = $('#theme').val();
    $("nav").css("background-color", color);
    $("nav a.nav-link").css("color", "white");

    // Scroll
    // $("nav.navbar.scrolled").css("background-color", "white!important");
    // $("nav.scrolled a.nav-link").css("color", "black");

    $(document).scroll(function () {
        var $nav = $("nav.navbar");
        $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

        var $logolight = $(".logo-light");
            $logolight.toggleClass('d-none', $(this).scrollTop() > 15);

            var $logo = $(".logo");
            $logo.toggleClass('d-block', $(this).scrollTop() > 20);
    });

    
});

</script>

{% endblock %}