{% extends 'base.html.twig' %}

{% block title %}
    Je donne mon avis - 
{% endblock %}

{% block body %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}


<div class="container notices-container webdesign-container">
    <div class="row">

        <div class="col-md-7">

            {% for message in app.flashes('success') %}
                {% include '_notification.html.twig' with {'main': message, 'secondary': "Il sera publié prochainement" } %}
            {% endfor %}


            {% for message in app.flashes('success') %}
                <div id="success-alert" class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <p class="purple bold full-name mt-0"><span class="my-line">--------</span>Je donne mon avis</p>
            <h2 class="contact-title">Votre avis<br>compte.</h2>
            <p class="contact-description">Si vous êtes ici, c'est que nous avons déjà eu le plaisir de travailler ensemble. Donnez-moi votre avis pour qu'il puisse appraître sur le site !</p>
            
  
        </div>

        <div class="col-md-5">

              {{ form_start(form) }}

              {{ form_widget(form.company) }}
              {{ form_widget(form.firstName) }}
              {{ form_widget(form.lastName) }}
              {{ form_widget(form.content) }}
              {{ form_widget(form.send) }}


              {{ form_end(form) }}
              
        </div>

    </div>

</div>

<div class="container-fluid contact-container bg-purple">

    <div class="row">
      <div class="col-lg-7">
        <h2 class="text-white">Vous avez un projet et cherchez <br>un graphiste freelance ?</h2>
        <a href="{{ path('contact') }}" class="btn btn-pink">Contactez-moi</a>
  
      </div>
      <div class="col-lg-5">
        <img src="{{ asset('assets/images/workspace.svg') }}" alt="Workspace Image">
  
      </div>
  
    </div>
  
  </div>



{% endblock %}


{% block javascripts %}
<script>

    // $(function() {
    //     $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
    //         $("#success-alert").slideUp(500);
    //     });
    // });
    
</script>

{% endblock %}