<div class="container service-container" data-aos="fade-up" data-aos-duration="2000">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="circle bg-yellow">
              {# <i class="uil uil-palette"></i> #}
              {# <i class="far fa-window-restore"></i> #}
              <img src="{{ asset('assets/images/web.png') }}" alt="Web Design Image">

              
            </div>
            {# <img class="icon-card" src="./assets/images/briefcase.png" alt="Strategy & Direction"> #}
            <h5 class="card-title">Web Design</h5>
            <p class="card-text">Je vous accompagne dans le design de votre site Internet, dans le respect de votre identité visuelle et adapté à chaque support numérique.</p>
            <a href="{{ path('services_webdesign') }}" class="btn btn-light w-100">En savoir plus</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="circle bg-purple">
              {# <i class="fas fa-code"></i> #}
              <img src="{{ asset('assets/images/dev.png') }}" alt="Dev Image">

            </div>
            <h5 class="card-title">Développement web</h5>
            <p class="card-text">Je m'occupe de tout le processus de développement de votre site Internet, qu'il soit un site vitrine ou un site avec des fonctionnalités plus complexes.</p>
            <a href="{{ path('services_developpementweb') }}" class="btn btn-light w-100">En savoir plus</a>
          </div>
        </div>

      </div>
      <div class="col-md-6 col-lg-6 col-xl-4">
        <div class="card">
          <div class="card-body">
            <div class="circle bg-pink">
              {# <i class="fas fa-paint-brush"></i> #}
              <img class="graphisme" src="{{ asset('assets/images/graphisme.svg') }}" alt="Graphisme Image">

            </div>
            <h5 class="card-title">Graphisme</h5>
            <p class="card-text">Logos, affiches, flyers.. J'interviens dans l'élaboration de votre identité visuelle dans un large panel de supports de communication.</p>
            <a href="{{ path('services_graphisme') }}" class="btn btn-light w-100">En savoir plus</a>
          </div>
        </div>
      </div>
    </div>

  </div>
